body {
    background-image: url('../img/alteracao_produtos.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
  }
  